* {
    box-sizing:border-box;
}

body {
    background-color: #013369;
}
/*This is the information for the navigation bar*/
.dropdown{
    margin: 0 auto;
}

nav{
    height: 60px;
    background: #013369;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}
.logo{
    padding: 5px 0 0 80px;
    width: 150px;
    height: auto;
}

nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}

nav ul li{
    background: #000000;
    position: relative;
    list-style: none;
    display: inline-block;
}
nav ul li a{
    display: block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
}
nav ul li a:hover{
    background: #243342;
}

nav ul ul{
    position: absolute;
    top: 60px;
    display: none;
}

nav ul li:hover > ul{
    display: block;
}

nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
    list-style: relative;
}

nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 150 px;
}
/*Nav bar css stops here*/

.slides-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}